.regTitle {
    display: flex;
    justify-content: center;
}
.reglogoB{
    display: flex;
    justify-content: flex-end;
    
}
.regUlogo{
    display: flex;
    justify-content: center !important;
    align-items:center;
}

.regContainer {
    display: flex;
    justify-content: center;
    padding-left: 50vw;
    padding-right: 50vw;


}

.regpaperDiv {
    max-width: 700px;
    border-radius: 25px !important;
    width: 75vw;
    margin: 10vw;
    padding: 10px;
}

.regBody {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: center;


}

.regBodyTextbox {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.regBodyRadioBox {
    display: flex;
    justify-content: center;
    margin-right: 200px !important;
    margin: 40px;
}

.regButton {
    display: flex;
    justify-content: center;
    margin: 20px;


}
.combined{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}