.dash{
    margin-top: 20px; 
    margin-left: 10px;
    margin-right: 10px;
}

.edashPaper{
    border-radius: 5px; 
 }

 .buttonadd {
    display: flex;
    justify-content: left;
    margin: 20px;


}
.DialogTitle{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 5px;

}
