
.brDetails{
    max-width: 1400px;
    border-radius: 25px !important;
    width: 100vw !important;
    margin: 15vw;
    padding: 10px;

  
}

.mainContainer {
    display: flex;
    justify-content: center;
    max-width: 1400px !important;
    padding-left: 20vw;
    padding-right: 30vw;
   margin-top: -5%;
    /* margin:  15vw; */
    

 
}
.headTitleContainer {
    display: flex;
    justify-content: center;
    
   
}
.iconsUpDel {
    display: flex;
    justify-content: space-between;
    margin: 2px;
   


}
.buttonadd {
    display: flex;
    justify-content: left;
    margin: 20px;


}

.paperDiv {
    max-width: 700px;
    border-radius: 25px !important;
    width: 75vw;
    margin:10vw;
    padding:0%;
  
}

.bodyMain {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: center;
    margin:10vw;


}

.bodyTextbox {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap:wrap ;
  
}



.buttonMain {
    display: flex;
    justify-content: center;
    margin: 20px;


}
.brList{
  display: flex;
  justify-content:center;
  margin:20px;

}
.buttonLast {
    display: flex;
    justify-content: right;
    margin: 20px;


}
.styleset.DialogTitle{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 5px;

}
