.FPwContainer {
    display: flex;
    justify-content: center;
    margin: 10vw;

}
.pDiv{

    max-width: 700px;
    border-radius: 25px !important;
    width: 75vw;
    margin: 10vw;
    padding: 10px;
}
.FPwTitle{
    display: flex;
    justify-content: center;
}
.Femail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}
.sendB{
    display: flex;
    justify-content: center;
}
.Fcode{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding-right: 400;
}
.codeB{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 60px;
}
.verifyB{
    display: flex;
    justify-content: center;
 
}
.resendB{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}
.otpE{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textStyle{
    color:rgb(228, 3, 3);
    font-size: 14px;
    
}