.buttonOuter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.OuterContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.audio{
    height :24px;
    
}
.audioOuter{
padding-top: 2px;
}

.commentbox{
   
    padding: 10px;
    display: flex;
    width:400px ;
   justify-content:space-around !important;
}