.resetPassword{
   
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px; 
}

.resetPaper{
   border-radius: 25px; 
}

.resetForm{
    align-items: center;
    display: flex;
    flex-direction:column;
    justify-content:center;
    padding:3rem;
  
}


.text-danger{
    color:red;
    font-size: 14px;
    font-style: italic;
}