.nav{
  
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navFirst{
  
  position: absolute;
  right: 60px;
  top: 5px;
  display: flex;
  gap: 3rem;
  align-items: center;
  margin: auto;
}

.nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 30px;
  gap: 5rem;
  font-weight: 500;
  font-size:15px;
  
}

.nav a{
  color:inherit;
  text-decoration: none;
}

.nav li:a{
  gap: 5rem;
}



.navSecond{
  
  position: relative;
  /* top: 65px; */
  margin: auto;
  
}

.AppoMoLogo{
  /* margin-right: 900px; */

}

.menu-trigger img{
  overflow: hidden;
  cursor: pointer;
}

.dropdown-menu{
  position: absolute;
  background-color: white;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
}

.dropdown-menu:before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background:var(--secondary-bg);
  transform: rotate(45deg);
}

/* .profile{
  position: absolute;
  right: 2px;
} */

.divide{
  display:flex;
  flex-direction:row;
  align-items: center;
  margin-right: 30px;
  justify-content: flex-end;

}

.notify{
  margin-right: 30px;
}

/* .link {
  display:"flex";
  margin-left:10;
  color: black;
} */